html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	box-sizing: border-box;
	position: relative;
	display: block;
	overflow-x: hidden;
}

body {
	color: white;
	text-align: center;
	background: rgb(0, 6, 69);
}

* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:focus {
	outline: none;
}

input, textarea {
	outline: none;
	background: transparent;
	resize: none;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: white;
	border: 0;
}

.mobile-only {
	display: block !important;
}

.desktop-only {
	display: none !important;
}

@-webkit-keyframes levitateY {
	0% {
		-webkit-transform: translateY(-3px);
	}
	50% {
		-webkit-transform: translateY(0px);
	}
	100%{
		-webkit-transform: translateY(-3px);
	}
}
@-moz-keyframes levitateY {
	0% {
		-moz-transform: translateY(-3px);
	}
	50% {
		-moz-transform: translateY(0px);
	}
	100%{
		-moz-transform: translateY(-3px);
	}
}

h1, h2, h3, h4, h5, h6, section, footer {
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
}

section .container {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	padding: 0 15px;
	max-width: 1200px;
	margin: auto;
}

#header {
	margin-bottom: 25vh;
	overflow: visible;
}

#header-fix {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
	overflow: hidden;
	width: 100%;
}

#header h1 {
	position: absolute;
	padding: 10px 25px;
}

#header h1 img {
	height: 50px;
	position: relative;
	display: inline-block;
	overflow: hidden;
}

#header h2 {
	margin-top: 70px;
	font-size: 18px;
	letter-spacing: 2.61px;
	font-weight: 800;
	line-height: 30px;
	text-transform: uppercase;
}

#header h3 {
	font-size: 12px;
	letter-spacing: 1.82px;
	line-height: 20px;
	margin-top: 15px;
	text-transform: uppercase;
	color: rgba(255,255,255,0.75);
	margin-bottom: 25px;
}

.hero {
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
	margin: auto;
}

img.hero-scene {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

div.hero-site {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
}

#header-fix div.hero-site img {
	position: relative;
	display: inline-block;
	height: 100%;
	transition: all 0.2s;
	opacity: 1;
}

#header-fix.hide div.hero-site img {
	height: 0px;
	opacity: 0;
}

a.beta-login {
	position: absolute;
	top: 25px;
	right: 25px;
	display: block;
	overflow: hidden;
	font-size: 12px;
	line-height: 34px;
	height: 36px;
	letter-spacing: 1.46px;
	padding: 0 20px;
	border-radius: 20px;
	color: white;
	transition: all 0.2s;
	border: 1px solid #4FF7FF;
}

a.beta-login:hover {
	color: #4FF7FF;
}

#skip-the-pain {
	padding: 25vh 0 25vh;
	clear: both;
	/*border: 1px solid blue;*/
}

#skip-fix {
	position: absolute;
	width: 100%;
	top: 25vh;
	display: block;
	overflow: hidden;
	left: 0px;
	padding: 0 15px;
}

#skip-the-pain h1 {
	font-size: 30px;
	letter-spacing: 3.61px;
	font-weight: 800;
	line-height: 40px;
	text-transform: uppercase;
}

#skip-the-pain h2 {
	font-size: 13px;
	letter-spacing: 1.42px;
	line-height: 26px;
	color: rgba(255,255,255,0.75);
	margin: auto;
	margin-top: 30px;
	max-width: 500px;
	padding: 0 15px;
}

#skip-list {
	position: relative;
	display: none;
	overflow: hidden;
	width: 50%;
	float: right;
	padding: 0 15px;
	margin: 50px 0;
}

li.skip-list-item {
	display: block;
	list-style: none;
	padding: 0;
	padding-left: 40px;
	margin: 0;
	position: relative;
	width: 100%;
	overflow: hidden;
	height: 40px;
	text-align: left;
	margin-bottom: 10px;
	opacity: 0;
	transition: opacity 0.2s;
}

li.skip-list-item.ten {
	opacity: .1;
}
li.skip-list-item.twenty {
	opacity: .2;
}
li.skip-list-item.thirty {
	opacity: .3;
}
li.skip-list-item.fifty {
	opacity: .5;
}
li.skip-list-item.full {
	opacity: 1;
}

.skip-list-item-icon {
	top: 5px;
	width: 30px;
	height: 30px;
	position: absolute;
	display: block;
	overflow: hidden;
	left: 0px;
}

.skip-list-item-text {
	font-size: 12px;
	position: relative;
	width: 100%;
	line-height: 40px;
	letter-spacing: 1.6px;
	color: white;
}

#paradise {
	margin-top: 15vh;
	padding-top: 10vh;
}

#paradise h1 {
	font-size: 28px;
	margin-bottom: 100px;
	letter-spacing: 3.61px;
	font-weight: 800;
	line-height: 40px;
	text-transform: uppercase;
}

.beach {
	width: 120%;
	left: -10%;
	position: relative;
	display: block;
	overflow: hidden;
}

img.beach-scene {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

.beach-site {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: block;
}

#paradise .beach-site img {
	position: relative;
	display: inline-block;
	height: 100%;
	transition: all 0.2s;
	opacity: 1;
}

#paradise.hide .beach-site img {
	height: 0px;
	opacity: 0;
}

#solution {
	padding-top: 20vh;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fff1d7+0,fff9f1+15 */
	background: #fff1d7; /* Old browsers */
	background: -moz-linear-gradient(top,  #fff1d7 0%, #fff9f1 15%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fff1d7 0%,#fff9f1 15%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fff1d7 0%,#fff9f1 15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff1d7', endColorstr='#fff9f1',GradientType=0 ); /* IE6-9 */
	color: black;
}

h1.solution-header {
	font-size: 20px;
	letter-spacing: 1.6px;
	font-weight: 800;
	line-height: 40px;
	color: black;
	margin-bottom: 100px;
}

section.solution-item {
	margin-bottom: 150px;
	clear: both;
}

div.solution-item-info {
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}

div.solution-item-info-container {
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
}

div.solution-item-info h1 {
	margin-bottom: 20px;
	line-height: 34px;
	letter-spacing: 1.6px;
	font-size: 22px;
	font-weight: 800;
	text-transform: uppercase;
}

div.solution-item-info h2 {
	line-height: 20px;
	font-size: 14px;
	letter-spacing: 1.6px;
	font-weight: 400;
}

div.solution-item-icon {
	width: 100%;
	position: relative;
	display: block;
	overflow: hidden;
	margin-bottom: 25px;
}

div.solution-item-icon img {
	width: 50%;
	position: relative;
	display: block;
	overflow: hidden;
	margin: auto;
}

#early-adopter {
	padding: 25vh 0;
}

#early-adopter h1 {
	font-weight: 800;
	letter-spacing: 2.5px;
	font-size: 28px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#early-adopter h2 {
	font-weight: 400;
	letter-spacing: 2.45px;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 50px;
	color: white;
}

#landing-form {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 500px;
	margin: auto;
}

.landing-inputs {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	transition: all 0.3s;
}

.landing-inputs.submitted {
	opacity: 0.3;
	pointer-events: none;
}

.floating-input-field {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 61px;
	border-style: solid;
	border-width: 0px;
	border-bottom-width: 1px;
	border-color: #ffffff;
	border-color: rgba(255,255,255,0.39);
}

.floating-input-field + .floating-input-field {
	margin-top: 25px;
}

.floating-input-field input {
	padding: 20px 10px 10px;
	height: 60px;
	font-size: 16px;
	display: block;
	position: relative;
	overflow: hidden;
	outline: none;
	border: 0;
	background: transparent;
	letter-spacing: 1.2px;
	color: #ffffff;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: color 9999s ease-out, background-color 9999s ease-out;
    transition-delay: 9999s;
}

.floating-input-field label {
	position: absolute;
	display: block;
	overflow: hidden;
	pointer-events: none;
	text-transform: uppercase;
	line-height: 20px;
	top: 0px;
	left: 0px;
	height: 50px;
	user-select: none;
	padding: 0 10px;
	letter-spacing: 1.5px;
	color: rgba(255, 255, 255, 0.75);
	font-size: 12px;
}

div.input-toggle {
	display: block;
	overflow: hidden;
	width: 100%;
	position: relative;
	margin: 45px 0 60px;
}

div.input-toggle-option {
	width: 130px;
	font-size: 12px;
	line-height: 38px;
	height: 40px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	border-color: rgba(255,255,255,0.39);
	display: inline-block;
	position: relative;
	overflow: hidden;
	letter-spacing: 1.5px;
	transition: all .2s;
	color: white;
	padding: 0;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
}

div.input-toggle-option.input-toggle-option-left {
	margin-right: 5px;
}

div.input-toggle-option.input-toggle-option-right {
	margin-left: 5px;
}

div.input-toggle-option.input-toggle-option-selected, div.input-toggle-option:hover {
	border-color: rgba(255,255,255,0.49);
	background-color: rgba(255,255,255,0.15);
}

div.input-toggle-option input {
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

div.input-toggle-option label {
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.input-toggle-middle {
	display: none;
	position: relative;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 20px;
	letter-spacing: 1.75px;
}

.landing-actions {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

.landing-action {
	font-size: 16px;
	line-height: 38px;
	height: 40px;
	border: 1px solid #4FF7FF;
	display: inline-block;
	position: relative;
	overflow: hidden;
	letter-spacing: 1.5px;
	transition: all .2s;
	color: white;
	padding: 0 40px;
	border-radius: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

#landing-error {
	border-color: #DB6262;
}

.landing-action:hover, #landing-error:hover {
	color: #4FF7FF;
	border-color: #4FF7FF;
}

#landing-success {
	background: url('../images/success.png');
	background-size: 30px 30px;
	background-position: center;
	background-repeat: no-repeat;
	border-color: #56FCAD;
	width: 40px;
	padding: 0;
	cursor: default;
}

#two-cities {
	background-color: white;
	padding: 80px 0 0;
	color: black;
}

#two-cities h1 {
	font-weight: 800;
	letter-spacing: 3px;
	font-size: 23px;
	line-height: 40px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#two-cities h2 {
	font-weight: 400;
	letter-spacing: 2.75px;
	font-size: 21px;
	line-height: 30px;
	text-transform: lowercase;
	margin-bottom: 40px;
	color: #585858;
}

div.email-us {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

div.email-us a {
	font-size: 16px;
	line-height: 36px;
	height: 40px;
	border: 2px solid #2B91EE;
	display: inline-block;
	position: relative;
	overflow: hidden;
	letter-spacing: 1.5px;
	transition: all .2s;
	color: black;
	padding: 0 20px;
	border-radius: 20px;
	text-transform: uppercase;
	cursor: pointer;
}

div.email-us a:hover {
	color: #2B91EE;
}

div.city-full {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

div.city-full img {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

div.city-half {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

div.city-half img {
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
}

footer {
	background: #07162A;
	height: 80px;
	padding: 10px 20px;
}

div.footer-logo {
	position: absolute;
	top: 10px;
	left: 25px;
	height: 60px;
	display: inline-block;
	overflow: hidden;
}

div.footer-logo img {
	position: relative;
	display: block;
	overflow: hidden;
	height: 60px;
}

div.footer-copyright {
	font-size: 12px;
	position: relative;
	height: 60px;
	padding: 20px 10px;
	display: inline-block;
	line-height: 20px;
	letter-spacing: 1.43px;
	text-transform: uppercase;
	font-weight: 400;
}

div.footer-social {
	position: absolute;
	top: 10px;
	right: 25px;
	height: 60px;
	display: inline-block;
	overflow: hidden;
}

div.footer-social a {
	display: inline-block;
	overflow: hidden;
	position: relative;
	padding: 15px 5px;
}

div.footer-social a img {
	position: relative;
	display: block;
	overflow: hidden;
	height: 30px;
}

@media (min-width: 400px) {

	#header h2 {
		font-size: 22px;
		line-height: 40px;
	}

	div.footer-copyright {
		font-size: 14px;
	}

}

@media (min-width: 500px) {

	#header h1 {
		text-align: left;
	}
	
	#header h2 {
		font-size: 24px;
		letter-spacing: 3.61px;
	}

	#header h3 {
		font-size: 13px;
		margin-bottom: 40px;
	}

	.hero {
		width: 90%;
	}

	#paradise h1 {
		font-size: 32px;
		margin-bottom: 50px;
	}

	.beach {
		width: 100%;
		left: 0;
	}

}

@media (min-width: 600px) {
	.mobile-only {
		display: none !important;
	}

	.desktop-only {
		display: block !important;
	}

	#header h2 {
		font-size: 28px;
	}

	#header h3 {
		font-size: 14px;
	}

	.hero {
		width: 80%;
	}

	#header-fix div.hero-site img {
		-webkit-animation: levitateY 3s infinite;
		-moz-animation: levitateY 3s infinite;
	}

	div.solution-item-info {
		float: left;
		width: 50%;
	}

	div.solution-item-info-container {
		max-width: 450px;
		margin: auto;
	}

	div.solution-item-info h1 {
		line-height: 40px;
		margin-bottom: 30px;
	}

	div.solution-item-info h2 {
		line-height: 30px;
	}

	section.solution-item:nth-child(even) div.solution-item-info {
		float: right;
	}

	div.solution-item-icon {
		margin-bottom: 0;
		float: left;
		width: 50%;
	}

	section.solution-item:nth-child(even) div.solution-item-icon {
		float: right;
	}

	div.solution-item-icon img {
		width: 80%;
	}

	#paradise h1 {
		font-size: 36px;
	}

	#paradise .beach-site img {
		-webkit-animation: levitateY 3s infinite;
		-moz-animation: levitateY 3s infinite;
	}

	div.input-toggle-option {
		width: 165px;
		font-size: 14px;
	}

	div.input-toggle-middle {
		display: inline-block;
	}

	input.floating-input {
		padding: 20px 20px 10px;
	}
	label.floating-input-label {
		padding: 0 20px;
	}
}

@media (max-width: 729px) {
	#skip-the-pain {
		min-height: 700px !important;
		padding: 5vh 0;
		padding-bottom: 5vh !important;
	}

	#skip-fix {
		position: absolute !important;
		top: 25vh !important;
	}
}

@media (min-width: 730px) {

	div.solution-item-icon img {
		width: 70%;
	}

	#skip-fix {
		width: 50%;
	}

	#skip-list {
		display: block;
	}

}

@media (min-width: 840px) {

	#header h1 img {
		height: 60px;
	}

	#header h2 {
		font-size: 32px;
		margin-top: 60px;
	}

	#skip-the-pain h1 {
		font-size: 36px;
	}

	#skip-the-pain h2 {
		font-size: 14px;
	}

	li.skip-list-item {
		padding-left: 60px;
	}

	.skip-list-item-icon {
		top: 0px;
		width: 40px;
		height: 40px;
	}

	.skip-list-item-text {
		font-size: 14px;
	}

	#paradise h1 {
		margin-bottom: 30px;
	}

	h1.solution-header {
		font-size: 22px;
	}

	div.solution-item-info h2 {
		font-size: 16px;
	}

	div.solution-item-icon img {
		width: 60%;
	}

	.hero {
		width: 70%;
	}

}

@media (min-width: 950px) {

	#skip-the-pain h2 {
		margin-top: 60px;
		font-size: 15px;
	}

	div.solution-item-icon img {
		width: 50%;
	}

}

@media (min-width: 1030px) {

	#header h2 {
		font-size: 36px;
	}

	.hero {
		width: 60%;
	}

	.skip-list-item-text {
		font-size: 16px;
	}

	h1.solution-header {
		font-size: 24px;
	}

}

@media (min-width: 1300px) {

	.hero {
		width: 55%;
	}

}
